.enseignants__header{
    margin-bottom: calc-em(100,16);
}
.enseignants{
    padding: 0 calc-em(70,16);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: calc-em(100,16);
    margin-bottom: calc-em(140,16);
}
.enseignants__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enseignants__img{
    border-radius: 100%;
    max-width: 100%;
    margin-bottom: calc-em(20,16);
}
.enseignants__name{
    font-size: calc-em(22,16);
    font-family: expletussansRegular,sans-serif;
    margin-bottom: calc-em(10,22);
}
.enseignants__short-desc{
    color: $lightGrey;
}


