/* --- Expletus Sans --- */
@font-face {
    font-family: expletussansRegular;
    src: url("../fonts/expletussansregular.ttf") format("truetype");
}
/* --- Lato --- */
@font-face {
    font-family: latoRegular;
    src: url("../fonts/latoregular.ttf") format("truetype");
}
@font-face {
    font-family: latoSemibold;
    src: url("../fonts/latosemibold.ttf") format("truetype");
}
