.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.form__field {
    font-family: latoRegular, sans-serif;
    width: calc-em(400, 16);
    border: 0;
    border-bottom: 1px solid $lightGrey;
    outline: 0;
    font-size: 1em;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.4s;
    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown ~ .form__label {
        font-size: 1em;
        cursor: text;
        top: 30px;
    }
}
.form__label {
    font-family: latoRegular, sans-serif;
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1em;
    color: $lightGrey;
}
.form__field:focus {
    ~ .form__label {
        font-family: expletussansRegular, sans-serif;
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1.2em;
        color: $white;
    }
    padding-bottom: 6px;
    border-width: 1px;
    border-image: linear-gradient(to right, $blue, $white);
    border-image-slice: 1;
}
/* reset input */
.form__field {
    &:required, &:invalid {
        box-shadow: none;
    }
}
