.navigation {
    display: flex;
    justify-content: space-between;
    margin: calc-em(30, 16) 0 calc-em(70, 16);
    padding: 0 calc-em(100, 16);
}
.navigation > .navigation__list {
    display: flex;
    align-items: center;
}
.navigation__logo {
    max-width: 15%;
}
.navigation__link {
    margin-left: calc-em(30, 16);
    color: $black;
}
.navigation__link:hover {
    border-bottom: solid $blue 2px;
}
.navigation__fill-button {
    display: inline-block;
    font-size: calc-em(14, 16);
    color: $white;
    border: $blue solid 1px;
    background-color: $blue;
    border-radius: calc-em(23, 14);
    padding: calc-em(18, 14) calc-em(30, 14);
    margin-left: calc-em(50, 14);
    &:hover {
        animation: button 0.3s ease-out;
    }
}
.navigation__light-button {
    display: inline-block;
    font-size: calc-em(14, 16);
    color: $blue;
    border: $blue solid 1px;
    border-radius: calc-em(23, 14);
    padding: calc-em(18, 14) calc-em(30, 14);
    margin-left: calc-em(10, 14);
    &:hover {
        color: $white;
        background-color: $blue;
        animation: button 0.3s ease-out;
    }
}
.navigation__section-item:after{
    content: url("../../public/images/projets/arrow.svg");
    display: inline-block;
    transform: translateX(3px)translatey(2px);
}
.navigation__section-item:hover{
    &:after{
        animation: navArrowRotation ease-in-out 0.3s forwards;
    }
    position: relative;
    z-index: +1;
    .navigation__sublist{
        display: flex;
        animation: forwards sublist ease-in-out 0.3s;
    }

}
.navigation__sublist{
    z-index: -2;
    opacity: 0%;
    line-height: 1.4;
    padding: calc-em(35,16) calc-em(30,16);
    background-color: $white;
    display: none;
    flex-direction: column;
    position: absolute;
    top: -20px;
    left: 0;
    border-radius: calc-em(20,16);
    box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.16);
}
.navigation__subitem{
    padding-top: calc-em(25,16);
}
.navigation__subitem>.navigation__link{
    margin: 0;
}
.logout__svg{
    fill: $black;
    &:hover{
        fill: $blue;}
}
.navigation__avatar{
    display: inline-block;
    max-width: 30px;
    border-radius: 100%;
}
.navigation__avatar-link{
    display: flex;
    align-items: center;
    gap: calc-em(10,16);
    margin-left: calc-em(50,16);
    color: $black;
    &:hover{
        color: $blue;
    }
}
