.header__arian-thread{
    margin-bottom: calc-em(30,16);
}
.main__section{
    padding: 0 calc-em(100,16);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: calc-em(100,16);
    align-items: center;
}
.section__section{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: calc-em(140,16);
    align-items: center;
}
.section__img{
    max-width: 100%;
    border-radius: calc-em(10,16);
}
.section__subtitle{
    margin-bottom: calc-em(30,36);
}
.section__text{
    color: $lightGrey;
    line-height: 1.3em;
    margin-bottom: calc-em(30,16);
}
