.projects__title {
    text-align: center;
    margin-bottom: calc-em(100, 36);
}
.projects__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc-em(60, 16);
    padding: 0 calc-em(60,16);
    margin-bottom: calc-em(80, 16);
}
.projects__card {
    box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.16);
    border-radius: calc-em(10, 16);
    padding: calc-em(30, 16);
    &:hover {
        animation: hoverShadow 0.3s ease-in-out forwards;
    }
}
.projects-card__title {
    font-family: latoRegular, sans-serif;
    font-size: calc-em(24, 16);
    margin-bottom: calc-em(20, 30);
}
.projects-card__tag-list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: calc-em(20, 16);
}
.projects-card__tag-item {
    font-size: calc-em(12, 16);
    background-color: $darkGrey;
    padding: calc-em(5, 12) calc-em(24, 12);
    border-radius: calc-em(10, 12);
    &:hover {
        background-color: $blue;
    }
}
.projects-card__tag-item > a {
    color: $white;
}
.projects-card__tag-item:not(:last-child) {
    margin-right: calc-em(10, 12);
}
.projects-card__img {
    width: 100%;
    border-radius: calc-em(10, 16);
    margin-bottom: calc-em(20, 16);
}
.projects-card__auth-list {
    display: flex;
    flex-direction: column;
}
.projects-card__auth-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:hover {
        .projects-card__auth-name {
            color: $blue;
        }
    }
}
.projects-card__auth-item:not(:last-child) {
    margin-bottom: calc-em(10, 16);
}
.projects-card__auth-img {
    width: calc-em(30, 16);
    border-radius: 100%;
    margin-right: calc-em(10, 16);
}
.projects-card__auth-name {
    color: $lightGrey;
}
.projects__link {
    text-align: center;
}
